pytest==5.4.3
cyvcf2==0.30.12
mongomock==3.18.0
click==7.1.2
pymongo==3.7.1
numpy==1.22.0
coloredlogs==14.0
pyyaml==5.4.0
vcftoolbox==1.5
pip==23.1.2
setuptools==65.5.1
mongo_adapter>=0.3.3
ped_parser