pytest==5.4.3
loqusdb==2.6.0
cyvcf2==0.30.12
mongomock==3.18.0
click==7.1.2
pymongo==3.7.1
numpy==1.21.4
coloredlogs==14.0
pyyaml==5.3.1
vcftoolbox==1.5
pip==21.3.1
setuptools==59.2.0
mongo_adapter>=0.2
ped_parser